body{
    margin-top: 20px;
    background-color:bisque;
    color: black;
    font-size: 50px;
    text-align: center;
}
h1{
    color:blue;  
}

h2{
    margin-top: 20px;
    background-color:blueviolet;
    padding: 40px 120px;
	width:900px;
	height:140px;
	border-radius:10px;
	margin-top:10px;
	text-align:center;
	margin:40px;
}

h3{
    color: red;
    p
}